:root {
  --branding-colour: #e4f9f9;
  --section-colour: #0886ed;
  --heading-font-family: "Nunito Sans", sans-serif;
  --default-fant-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-fant-family);
}

h1,
h2 {
  font-weight: 700;
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 68px;
}
h2 {
  font-size: 58px;
}
h3 {
  font-size: 36px;
  font-weight: 600;
  opacity: 0.8;
}
h4,
h5 {
  color: var(--section-colour);
  font-weight: 700;
}
p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 2;
}
li {
  list-style-type: square;
}

.container {
  margin-left: 54px;
}

.initial-p {
  font-size: 18px;
  margin-top: 30px;
  line-height: 2;
}

.hero {
  background-color: var(--branding-colour);
  text-align: left;
  padding-top: 72px;
}
.content-section {
  background-color: var(--branding-colour);
}
.content {
  margin-left: 60px;
  padding-top: 40px;
}

.content p {
  font-size: 18px;
  text-align: left;
  margin-top: 12px;
  line-height: 1.7;
}
.content li {
  list-style-type: none;
}
.content-section h1 {
  font-size: 60px;
}
.content-section h2 {
  font-size: 52px;
}
.content-section h3 {
  font-size: 38px;
}
.content-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  padding: 8px 20px;
  font-size: 22px;
  margin: 50px 40px 30px;
  background-color: #0886e9;
}
.content-end {
  font-size: 20px;
  padding: 10px 22px;
  margin: 30px 40px 40px;
  background-color: #0886e9;
}
#btn-contact {
  font-size: 18px;
  padding: 8px 16px;
}
#hi-heading {
  font-size: 38px;
}

#weatherApp,
#trekkingApp {
  width: 80%;
  display: block;
}

.page-heading {
  text-align: center;
  padding: 40px 0px 0px 20px;
}

.project-heading {
  text-align: center;
  padding-top: 50px;
}

.quote {
  background-color: var(--section-colour);
  color: white;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
.quote p {
  font-size: 28px;
}

.navbar {
  background-color: white !important;
}
.nav-link {
  font-size: 18px;
  color: black;
}
.nav-link:hover {
  color: var(--section-colour);
}
.navbar-brand {
  font-size: 22px;
  font-weight: 600;
  color: var(--section-colour);
}
.active {
  font-weight: 900 !important;
}

@media (max-width: 900px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 34px;
  }

  p {
    margin-top: 10px;
    line-height: 1.5;
  }
  .project-heading {
    text-align: center;
    padding-top: 8px;
  }
  .page-heading {
    padding: 10px 0px 0px 14px;
  }
  .initial-p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
  }
  .hero {
    padding-top: 60px;
  }
  #hi-heading {
    font-size: 34px;
  }
  .quote p {
    font-size: 20px;
  }
  .content-section h1 {
    font-size: 50px;
  }
  .content-section h2 {
    font-size: 42px;
  }
  .content-section h3 {
    font-size: 30px;
  }
  .content {
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 30px;
  }
  #btn-contact {
    font-size: 16px;
    padding: 6px 14px;
    display: block;
    margin-bottom: 10px;
  }
}
